<div>
  <div class="home-text-container">
    <div class="home-text">
      <h3><i>Twitter on Stats</i></h3>
      <div class="text-limit">
        <p>The industry moves faster. Stay on top of your game with the help of Yammerings. By providing up-to-date stats on social media networks, such as Twitter, we can provide you with realtime, up-to-date numbers that mean something.</p>
      </div>
    </div>
  </div>
  <img class = "home-img" src="geobg.png" alt="">
</div>