<%= javascript_include_tag "location" %>
<%= javascript_include_tag "uStates" %>

<div class="svg-wrapper">
  <div id="tooltip"></div><!-- div to hold tooltip. -->
  <svg viewBox="0 0 960 600" width="960" height="600" id="statesvg" class="svg-element"></svg> <!-- svg to hold the map. -->
</div>

