<div id="tooltip"></div><!-- div to hold tooltip. -->
<svg width="960" height="600" id="statesvg"></svg> <!-- svg to hold the map. -->


<%= javascript_include_tag "location" %>
<%= javascript_include_tag "uStates" %>

